@import 'variables';

body{
    overflow-x:hidden;
}
.red-background-dropdown{
    @extend .fw-700;
    transition: all 500ms;
    background-color:$red;
    color: $body-bg !important;
}

.divider{
    border-top: 2px solid $dark;
}

.animated.delay-500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
  }

button:focus{
    outline: none;
}